! Dracula Xresources palette
XTerm.vt100.foreground: #F8F8F2
XTerm.vt100.background: #282A36
XTerm.vt100.color0:     #000000
XTerm.vt100.color8:     #4D4D4D
XTerm.vt100.color1:     #FF5555
XTerm.vt100.color9:     #FF6E67
XTerm.vt100.color2:     #50FA7B
XTerm.vt100.color10:    #5AF78E
XTerm.vt100.color3:     #F1FA8C
XTerm.vt100.color11:    #F4F99D
XTerm.vt100.color4:     #BD93F9
XTerm.vt100.color12:    #CAA9FA
XTerm.vt100.color5:     #FF79C6
XTerm.vt100.color13:    #FF92D0
XTerm.vt100.color6:     #8BE9FD
XTerm.vt100.color14:    #9AEDFE
XTerm.vt100.color7:     #BFBFBF
XTerm.vt100.color15:    #E6E6E6

XTerm.vt100.locale: true
XTerm*faceName: JetBrains Mono Nerd Font
XTerm.vt100.faceSize: 12

XTerm*iconHint: /home/josh/.config/awesome/themes/terminal_32x32

XTerm.vt100.saveLines: 4096
! XTerm.vt100.scrollBar: true
! XTerm.vt100.rightScrollBar: true
! XTerm.vt100.scrollbar.width: 12
! XTerm.vt100.scrollbar.background: #FFFFFF
! XTerm.vt100.scrollbar.foreground: #BFBFBF

